In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import math

Reading the dataset into a panda dataframe

In [2]:
df = pd.read_csv("./dataset.csv")

In [3]:
df

,Unnamed: 0,age,height,job,city,favorite music style
0,0,30.237071,179.874298,designer,paris,trap
1,1,27.915796,172.659587,fireman,marseille,hiphop
2,2,32.205338,181.337491,teacher,paris,metal
3,3,26.595215,172.337885,designer,toulouse,metal
4,4,27.394780,182.708030,teacher,paris,metal
...,...,...,...,...,...,...
195,195,38.768667,169.293654,developper,madrid,classical
196,196,32.041409,176.971060,designer,lille,hiphop
197,197,29.015181,172.990379,developper,paris,classical
198,198,28.889681,172.776664,painter,toulouse,rap
199,199,32.328622,177.087355,teacher,marseille,jazz

In [4]:
nb_people = len(df.index)
print(nb_people)

200

In [5]:
print(df.info)

<bound method DataFrame.info of      Unnamed: 0        age      height         job       city  \
0             0  30.237071  179.874298    designer      paris
1             1  27.915796  172.659587     fireman  marseille
2             2  32.205338  181.337491     teacher      paris
3             3  26.595215  172.337885    designer   toulouse
4             4  27.394780  182.708030     teacher      paris
..          ...        ...         ...         ...        ...
195         195  38.768667  169.293654  developper     madrid
196         196  32.041409  176.971060    designer      lille
197         197  29.015181  172.990379  developper      paris
198         198  28.889681  172.776664     painter   toulouse
199         199  32.328622  177.087355     teacher  marseille

    favorite music style
0                   trap
1                 hiphop
2                  metal
3                  metal
4                  metal
..                   ...
195            classical
196               hiphop
197            classical
198                  rap
199                 jazz

[200 rows x 6 columns]>

In [6]:
print(df.columns)

Index(['Unnamed: 0', 'age', 'height', 'job', 'city', 'favorite music style'], dtype='object')

In [7]:
print(df.head(5))

   Unnamed: 0        age      height       job       city favorite music style
0           0  30.237071  179.874298  designer      paris                 trap
1           1  27.915796  172.659587   fireman  marseille               hiphop
2           2  32.205338  181.337491   teacher      paris                metal
3           3  26.595215  172.337885  designer   toulouse                metal
4           4  27.394780  182.708030   teacher      paris                metal

In [8]:
people_id = 1
print(f"---\nall infos on player {people_id}\n---")
print(df.loc[people_id])

---
all infos on player 1
---
Unnamed: 0                       1
age                      27.915796
height                  172.659587
job                        fireman
city                     marseille
favorite music style        hiphop
Name: 1, dtype: object

For categorical values we sort them based on their proximity, it will be usefull to compute the dissimilarities

In [9]:
musics = ['classical', 'jazz', 'other', 'hiphop', 'trap', 'rap', 'rock',
        'metal', 'technical death metal']
jobs = ['designer', 'developper', 'engineer', 'teacher', 'doctor', 'fireman', 'painter']
cities = ['madrid', 'toulouse', 'marseille', 'paris', 'lille']

Compute Dissimilarity between two people
base on their id.

The job, the city and the favorite music style are not
quantitative attribute.
Their are called categorical variable.
We must handle them differently than quantitative attribute.

In [10]:
def compute_dissimilarities(people_1_id, people_2_id):
    people_1_age, people_1_height = df.loc[people_1_id][1], df.loc[people_1_id][2]
    people_2_age, people_2_height = df.loc[people_2_id][1], df.loc[people_2_id][2]
    people_1_job, people_1_city = df.loc[people_1_id][3], df.loc[people_1_id][4]
    people_2_job, people_2_city = df.loc[people_2_id][3], df.loc[people_2_id][4]
    people_1_fav_music, people_2_fav_music = df.loc[people_1_id][5], df.loc[people_2_id][5]
    
    dissimilarities_fav_music= abs(musics.index(people_2_fav_music) - musics.index(people_1_fav_music))
    dissimilarities_job = abs(jobs.index(people_2_job) - jobs.index(people_1_job))
    dissimilarities_city = abs(cities.index(people_2_city) - cities.index(people_1_city))
    
    dissimilarities = math.sqrt(
        (people_1_age-people_2_age)**2+(people_1_height-people_2_height)**2+
        dissimilarities_job+dissimilarities_city+dissimilarities_fav_music
    )
    
    return dissimilarities

Build the dissimilarities Matrix

In [11]:
nb_people = len(df.index)

diss_matrix = np.zeros((nb_people, nb_people))

for people_1 in range(nb_people):
    for people_2 in range(nb_people):
        dissimilarities = compute_dissimilarities(people_1, people_2)
        diss_matrix[people_1][people_2] = dissimilarities

#compute_dissimilarities(1, 2)
print('dissimirities_matrix')
print(diss_matrix)

dissimirities_matrix
[[ 0.          8.02747626  3.46626707 ...  7.34039236  7.82252312
   4.37511613]
 [ 8.02747626  0.         10.03524702 ...  3.05255158  2.22759041
   6.5633955 ]
 [ 3.46626707 10.03524702  0.         ...  9.42610078  9.55412639
   5.00787937]
 ...
 [ 7.34039236  3.05255158  9.42610078 ...  0.          3.47295613
   5.63596494]
 [ 7.82252312  2.22759041  9.55412639 ...  3.47295613  0.
   6.1974485 ]
 [ 4.37511613  6.5633955   5.00787937 ...  5.63596494  6.1974485
   0.        ]]